<div class="container">
  <div class="cocktail-card">
    <div class="cocktail-content">
      <%= cl_image_tag @cocktail.photo, height: 400, width: 300, crop: :fill, class: "cocktail-image" %>
      <h1 class="cocktail-name"><%= @cocktail.name %></h1>
      <div class="cocktail-ingredients">
        <% @cocktail.doses.each do |dose| %>
          <p class="ingredient">
            <%= dose.description %> - <%= dose.ingredient.name.downcase %>
            <%= link_to dose_path(dose), method: :delete do %>
              <i class="fas fa-times"></i>
            <% end %>
          </p>
        <% end %>
      </div>
      <div id="new-ingredient-form">
        <%= simple_form_for [@cocktail, @dose], defaults: { input_html: { class: 'form-input' }, wrapper_html: { class: 'form-label text-right' } } do |f| %>
          <div class="form-group">
            <%= f.input :description, label: 'Measurement', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.association :ingredient, class: 'form-control' %>
          </div>
          <%= f.button :submit, "Add ingredient", class: "btn form-label" %>
        <% end %>
      </div>
    </div>
    <%= link_to cocktails_path do %>
      <div class="back-arrow"><i class="fas fa-angle-double-left"></i></div>
    <% end %>
  </div>
</div>

